* {
	padding:0;
	margin:0;
}

body {
	color: #333333;
	background-color:#FFFFFF;
	font-family: Comic Sans MS, Comic Sans MS, Comic Sans MS, sans-serif;
	font-size:0.83em;
	margin:20px auto;
	width:760px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address { margin:0.75em 0;}

h1 {font-size:1.67em;}

h2 {font-size:1.39em;}

h3 {font-size:1.1em;
	padding-top:5px;
}

h4 {font-size:1em;
	padding-top:5px;
}

li, dd { 
	margin-left:2em;
}

a {
	color: #4E85BD;
	background-color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #33587D;
	background-color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
}

#title {
	clear:both;
	color: #33587D;
	background-color:#FFFFFF;
	font-size:3em;
	font-weight:bold;
	padding:0px 40px 0px 0px;
	margin-bottom:10px;
	float:left;
}

#slogan {
	color:#000000;
	background-color:#FFFFFF;
	font-size:medium;
	font-weight:bold;
	font-style:normal;
	padding:20px 0px 0px 20px;
	float:left;
	margin:0px 0px 10px 0px;
}


ul#nav {
	clear:both;
	float:left;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width:100%;
	border-left: #999999 solid thin;
	border-right: #999999 solid thin;
}

ul#nav li {
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
	border-top: #999999 solid thin;
	border-bottom: #999999 solid thin;
}

ul#nav li a {
	display: block;
	font-size: small;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	background: #CCCCCC;
}

ul#nav li a:hover { background: #666666; color: #FFFFFF; }
ul#nav a.selected:link { background: #666666; color: #FFFFFF; }
ul#nav a.selected:visited { background: #666666; color: #FFFFFF; }


#path {
	width:760px;
	clear:both;
	float:left;
	font-size:0.83em;
	font-weight:normal;
	margin:4px 0px 5px 0px;
}

#path a {
	font-weight:normal;
}

#maincontent {
	font-size:1.0em;
	padding:0px 0px 5px 5px;
	margin:0px 0px 0px 0px;
	width:540px;
	float:right;
}

#sidecontent {
	color: #333333;
	background-color:#EEEEEE;
	font-size:0.83em;
	padding:10px 15px 5px 15px;
	margin:10px 0px 0px 0px;
	width:185px;
	float:left;
}

#sidecontent a {
	color: #4E85BD;
	background-color:#EEEEEE;
}

#footer {
	color:#909090;
	background-color:#000099;
	border-top:1px solid #CCCCCC;
	font-size:90%;
	line-height:1.5em;
	width: 760px;
	clear:both;
}

#footer	a {
	color:#FFFFFF;
	background-color:#000099;
	text-decoration: none;
	font-weight: bold;
}

#footer	a:hover {
	color:#00FF00;
	background-color:#000099;
	font-weight: bold;
	text-decoration: underline;
}

#header {
	color:#FFFFFF;
	background-color:#000099;
	border-top:1px solid #CCCCCC;
	font-size:100%;
	line-height:1.5em;
	width: 760px;
	clear:both;
	padding-top: 25px;
	padding-bottom: 25px;
}
#header form{
	margin-left: 10px;
}
#header	a {
	color:#FFFFFF;
	background-color:#000099;
	text-decoration: none;
	font-weight: bold;
		padding-left: 10px;
	padding-right: 10px; 
}

#header	a:hover {
	color:#00FF00;
	background-color:#000099;
	font-weight: bold;
	text-decoration: underline;
}

#header tr {
	padding-left: 10px;
	padding-right: 10px; 
}
#header table {
	padding-top:20px;
}

#copyrightdesign {
	color:#00FF00;
	background-color:#FFFFFF;
	padding:5px 20px 5px 0px;
	text-align: center;
}
